<!DOCTYPE html>
<html>
   <body>
        Регистрация
        <form action="/register" method="post">
            <label for="username">Логин</label>
            <input name="username" required>
            <label for="password">Пароль</label>
            <input name="password" required>
            <label for="passport">Паспортные данные</label>
            <input id="passport" name="passport" required>
            <button class="submit" type="submit">Зарегестрироваться</button>
        </form>
   </body>
</html>