<!DOCTYPE html>

<html>
{{ template "head" }}
   <body>
{{ template "header" .}}
{{ template "search_header" .}}
        <br>
        {{range $line := .SearchResults}}
        <a href="/buy/{{ $line.FlightID }}" style="color:inherit">
            <div class="div-table">
                <div class="div-table-row">
                    <div class="div-table-col">{{ $line.DepartureDate.Format "03:04" }}</div>
                    <div class="div-table-col">&nbsp;</div>
                    <div class="div-table-col">{{ $line.ArrivalDate.Format "03:04" }}</div>
                </div>
                <div class="div-table-row">
                    <div class="div-table-col">{{ $line.DepartureCity }}</div>
                    <div class="div-table-col">Время в полете:{{ $line.FlyDuration }}</div>
                    <div class="div-table-col">{{ $line.ArrivalCity }}</div>
                </div>
                <div class="div-table-row">
                    <div class="div-table-col">{{ $line.DepartureDate.Format "2006-01-02" }}</div>
                    <div class="div-table-col">&nbsp;</div>
                    <div class="div-table-col">{{ $line.ArrivalDate.Format "2006-01-02" }}</div>
                </div>
            </div>
        </a>
        <br>
        {{end}}
   </body>
</html>